<div class="modal fade" id="siteModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create New Site</h5>
                <button type="button" class="btn-close" id="exitModal"></button>
            </div>
            <form id="siteForm">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Address</label>
                                <div class="input-group">
                                    <select class="form-select" name="address_id" id="site_address_select" required>
                                        <option value="">Select Address...</option>
                                    </select>
                                    <button type="button" class="btn btn-outline-secondary" id="createSiteAddressBtn">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Local Authority</label>
                                <div class="input-group">
                                    <select class="form-select" name="local_authority_id" id="local_authority_select"
                                            required>
                                        <option value="">Select Authority...</option>
                                    </select>
                                    <button type="button" class="btn btn-outline-secondary"
                                            id="createLocalAuthorityBtn">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Wind Class</label>
                                <div class="input-group">
                                    <select class="form-select" name="wind_class_id" id="wind_class_select" required>
                                        <option value="">Select Wind Class...</option>
                                    </select>
                                    <button type="button" class="btn btn-outline-secondary"
                                            id="createWindClassBtn">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Soil Class</label>
                                <div class="input-group">
                                    <select class="form-select" name="soil_class_id" id="soil_class_select" required>
                                        <option value="">Select Soil Class...</option>
                                    </select>
                                    <button type="button" class="btn btn-outline-secondary"
                                            id="createSoilClassBtn">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Lot Number</label>
                                <input type="number" class="form-control" name="lot_number">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Plan Number</label>
                                <input type="text" class="form-control" name="plan_number">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Heritage Status</label>
                                <select class="form-select" name="heritage_status">
                                    <option value="false">No</option>
                                    <option value="true">Yes</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Zone</label>
                                <input type="text" class="form-control" name="zone">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Precinct</label>
                                <input type="text" class="form-control" name="precinct">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Area</label>
                                <input type="text" class="form-control" name="area">
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Overlays</label>
                        <div class="input-group">
                            <select class="selectpicker" name="overlay_ids" id="overlay_select"
                                    multiple
                                    data-live-search="true"
                                    data-selected-text-format="count > 3"
                                    title="Select overlays...">
                            </select>
                            <button type="button" class="btn btn-outline-secondary" id="createOverlayBtn">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save Site</button>
                </div>
            </form>
        </div>
    </div>
</div>
