{% extends "table_base.html" %}

{% block content %}
<h2>Client List</h2>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#clientModal">
    <i class="fas fa-plus"></i> Create Client
</button>
<div class="table-responsive">
    <table id="data" class="table table-light table-striped table-hover">
        <thead>
        <tr>
            <th>Client ID</th>
            <th>Primary Contact</th>
            <th>Secondary Contact</th>
            <th>Email</th>
            <th>Secondary Contact Email</th>
            <th>Phone</th>
            <th>Secondary Contact Phone</th>
            <th>Creation Date</th>
        </tr>
        </thead>
        <tbody>
        {% for client in clients %}
        <tr>
            <td>{{ client.client_id }}</td>
            <td>{{ client.client_name }}</td>
            <td>{{ client.secondary_contact_name }}</td>
            <td>{{ client.primary_contact_email }}</td>
            <td>{{ client.secondary_contact_email }}</td>
            <td>{{ client.primary_contact_phone }}</td>
            <td>{{ client.secondary_contact_phone }}</td>
            <td>{{ client.client_creation_datetime }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
