{% extends "base.html" %}

{% block content %}
<h2>Client List</h2>
<div class="table-responsive">
    <table class="table table-light table-striped table-hover">
        <thead>
        <tr>
            <th>Client ID</th>
            <th>Primary Contact</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Projects Count</th>
            <th>Creation Date</th>
        </tr>
        </thead>
        <tbody>
        {% for client in clients %}
        <tr>
            <td>{{ client.client_id }}</td>
            <td>{{ client.primary_contact_name }}</td>
            <td>{{ client.primary_contact_email }}</td>
            <td>{{ client.primary_contact_phone }}</td>
            <td>{{ client.project_count }}</td>
            <td>{{ client.client_creation_datetime }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
