{% extends "base.html" %}

{% block content %}
<h2>Create Project</h2>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addressModal">
    Add Address
</button>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#contactModal">
    Add Contact
</button>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#projectModal">
    Add Project
</button>


{% endblock %}

{% block scripts %}
<script>
    // You can place any JavaScript or jQuery logic for form validation, AJAX submissions, etc. here.
</script>
{% endblock %}
