{% extends "base.html" %}

{% block content %}
<h2>{{ table_name|title }} List</h2>
<div class="table-responsive">
    <table class="table table-light table-striped table-hover">
        <thead>
        <tr>
            {% for column in columns %}
            <th>{{ column.replace('_', ' ')|title }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for row in data %}
        <tr>
            {% for column in columns %}
            <td>{{ row[column] or 'N/A' }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
