<nav class="navbar px-3 navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <img src="../static/images/DW LOGO.png" height="50" width="50" alt="drawing works logo"/>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('index') }}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('projects') }}">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('clients') }}">Clients</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('contacts') }}">Contacts</a>
            </li>
        </ul>
    </div>
</nav>