{% extends "base.html" %}

{% block content %}
<h2>Project List</h2>
<div class="table-responsive">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#projectModal">
        Create New Project
    </button>

    <table id="data" class="table table-light table-striped table-hover">
        <thead>
        <tr>
            <th>Project ID</th>
            <th>Client Name</th>
            <th>Project Address</th>
            <th>Status</th>
            <th>Description</th>
            <th>Initial Inquiry</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Storeys</th>
            <th>Referral Source</th>
            <th>Payment Basis</th>
            <th>Creation Date</th>
        </tr>
        </thead>
        <tbody>
        {% for project in projects %}
        <tr>
            <td>{{ project.project_id }}</td>
            <td>{{ project.client_name }}</td>
            <td>{{ project.full_address }}</td>
            <td>{{ project.project_status }}</td>
            <td>{{ project.project_description or 'N/A' }}</td>
            <td>{{ project.project_initial_inquiry_date }}</td>
            <td>{{ project.project_start_date or 'N/A' }}</td>
            <td>{{ project.project_end_date or 'N/A' }}</td>
            <td>{{ project.project_storeys or 'N/A' }}</td>
            <td>{{ project.project_referral_source or 'N/A' }}</td>
            <td>{{ project.project_payment_basis or 'N/A' }}</td>
            <td>{{ project.project_creation_datetime }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<!-- Include Client Modal -->
{% include "modals/client_modal.html" %}

<!-- Include Project Modal -->
{% include "modals/project_modal.html" %}

<!-- Include Contact Modal -->
{% include "modals/contact_modal.html" %}

<!-- Include Address Modal -->
{% include "modals/address_modal.html" %}

{% endblock %}

{% block scripts %}

<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">

<!-- DataTables JS -->
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>

<!-- Initialize DataTables -->
<script>
    $(document).ready(function () {
        $('#data').DataTable({
            pageLength: 10,
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, 'All']],
            pagingType: 'full_numbers',
            order: [[0, 'asc']],
            processing: true,
            language: {
                paginate: {
                    first: '<<',
                    previous: '<',
                    next: '>',
                    last: '>>'
                }
            }
        });
    });
</script>

<!-- Include Your Custom Modals JavaScript -->
<script src="{{ url_for('static', filename='js/modal_handlers.js') }}"></script>
{% endblock %}
