{% extends "table_base.html" %}

{% block content %}
<h2>Project List</h2>
<button type="button" class="btn btn-primary" id="openProjectModal">
    Create New Project
</button>
<div class="table-responsive">
    <table id="data" class="table table-light table-striped table-hover w-100">
        <thead>
        <tr>
            <th>Project Number</th>
            <th>Client Name</th>
            <th>Project Address</th>
            <th>Status</th>
            <th>Description</th>
            <th>Initial Inquiry</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Storeys</th>
            <th>Referral Source</th>
            <th>Payment Basis</th>
            <th>Creation Date</th>
        </tr>
        </thead>
        <tbody>
        {% for project in projects %}
        <tr>
            <td>{{ project.project_number }}</td>
            <td>{{ project.client_name }}</td>
            <td>{{ project.full_address }}</td>
            <td>{{ project.project_status }}</td>
            <td>{{ project.project_description or 'N/A' }}</td>
            <td>{{ project.project_initial_inquiry_date }}</td>
            <td>{{ project.project_start_date or 'N/A' }}</td>
            <td>{{ project.project_end_date or 'N/A' }}</td>
            <td>{{ project.project_storeys or 'N/A' }}</td>
            <td>{{ project.project_referral_source or 'N/A' }}</td>
            <td>{{ project.project_payment_basis or 'N/A' }}</td>
            <td>{{ project.project_creation_datetime }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block table_scripts %}
<script>
    $(document).ready(function () {
        let projectsTable = $('#data').DataTable({
            processing: true,
            serverSide: false,
            autoWidth: true,
            ajax: {
                url: "http://localhost:8080/projects",
                type: "GET",
                dataSrc: ""
            },
            pageLength: 10,     // Show 10 entries per page
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]], // Pagination options
            columns: [
                {data: "project_number"},
                {data: "client_name"},
                {data: "full_address"},
                {data: "project_status"},
                {data: "project_description"},
                {data: "project_initial_inquiry_date"},
                {data: "project_start_date"},
                {data: "project_end_date"},
                {data: "project_storeys"},
                {data: "project_referral_source"},
                {data: "project_payment_basis"},
                {
                    data: "project_creation_datetime",
                    render: function (data) {
                        return data ? new Date(data).toLocaleString() : 'N/A';
                    }
                }
            ]
        });
    });
</script>
{% endblock %}
