{% extends "table_base.html" %}

{% block content %}
<h2>Address List</h2>
<button type="button" class="btn btn-primary" id="openAddressModal">
    Create Address
</button>
<button type="button" class="btn btn-success" id="openImportModal">
    Import Addresses
</button>
<div class="table-responsive">
    <table id="data" class="table table-light table-striped table-hover w-100">
        <thead>
        <tr>
            <th>Address ID</th>
            <th>Street</th>
            <th>Suburb</th>
            <th>City</th>
            <th>State</th>
            <th>Postal Code</th>
            <th>Country</th>
            <th>Type</th>
        </tr>
        </thead>
        <tbody>
        {% for address in addresses %}
        <tr>
            <td>{{ address.id }}</td>
            <td>{{ address.street }}</td>
            <td>{{ address.suburb }}</td>
            <td>{{ address.city }}</td>
            <td>{{ address.state }}</td>
            <td>{{ address.postal_code }}</td>
            <td>{{ address.country }}</td>
            <td>{{ address.type }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block table_scripts %}
<script>
    $(document).ready(function () {
        let addressesTable = $('#data').DataTable({
            processing: true,
            serverSide: false,
            autoWidth: true,
            ajax: {
                url: "http://localhost:8080/addresses",
                type: "GET",
                dataSrc: ""
            },
            pageLength: 10,
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
            columns: [
                {data: "id"},
                {data: "street"},
                {data: "suburb"},
                {data: "city"},
                {data: "state"},
                {data: "postal_code"},
                {data: "country"},
                {data: "type"}
            ]
        });
    });
</script>
{% endblock %}
