{% extends "table_base.html" %}

{% block content %}
<h2>Project List</h2>
<button type="button" class="btn btn-primary" id="openProjectModal">
    Create New Project
</button>
<div class="table-responsive">
    <table id="data" class="table table-light table-striped table-hover w-100">
        <thead>
        <tr>
            <th>Project Number</th>
            <th>Client Name</th>
            <th>Site Address</th>
            <th>Local Authority</th>
            <th>Wind Class</th>
            <th>Soil Class</th>
            <th>Status</th>
            <th>Description</th>
            <th>Initial Inquiry</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Storeys</th>
            <th>Referral Source</th>
            <th>Payment Basis</th>
            <th>Creation Date</th>
        </tr>
        </thead>
        <tbody>
        {% for project in projects %}
        <tr>
            <td>{{ project.number }}</td>
            <td>{{ project.client_name }}</td>
            <td>{{ project.site.address.full_address }}</td>
            <td>{{ project.site.local_authority.name }}</td>
            <td>{{ project.site.wind_class.class_ }}</td>
            <td>{{ project.site.soil_class.class_ }}</td>
            <td>{{ project.status }}</td>
            <td>{{ project.description or 'N/A' }}</td>
            <td>{{ project.initial_inquiry_date }}</td>
            <td>{{ project.start_date or 'N/A' }}</td>
            <td>{{ project.end_date or 'N/A' }}</td>
            <td>{{ project.storeys or 'N/A' }}</td>
            <td>{{ project.referral_source or 'N/A' }}</td>
            <td>{{ project.payment_basis or 'N/A' }}</td>
            <td>{{ project.creation_datetime }}</td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
</div>
{% endblock %}
{% block table_scripts %}
<script>
    $(document).ready(function () {
        let projectsTable = $('#data').DataTable({
            processing: true,
            serverSide: false,
            autoWidth: true,
            ajax: {
                url: "http://localhost:8080/projects",
                type: "GET",
                dataSrc: ""
            },
            pageLength: 10,
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
            columns: [
                {data: "number"},
                {data: "client_name"},
                {data: "site.address.full_address"},
                {data: "site.local_authority.name"},
                {data: "site.wind_class.class_"},
                {data: "site.soil_class.class_"},
                {data: "status"},
                {data: "description"},
                {data: "initial_inquiry_date"},
                {data: "start_date"},
                {data: "end_date"},
                {data: "storeys"},
                {data: "referral_source"},
                {data: "payment_basis"},
                {
                    data: "creation_datetime",
                    render: function (data) {
                        return data ? new Date(data).toLocaleString() : 'N/A';
                    }
                }
            ]
        });
    });
</script>
{% endblock %}

