{% extends "table_base.html" %}

{% block content %}
<h2>Site List</h2>
<button type="button" class="btn btn-primary" id="openSiteModal">
    Create New Site
</button>
<div class="table-responsive">
    <table id="data" class="table table-light table-striped table-hover w-100 datatable-hidden">
        <thead class="table-light">
        <tr>
            <th>Address</th>
            <th>Local Authority</th>
            <th>Wind Class</th>
            <th>Soil Class</th>
            <th>Lot Number</th>
            <th>Plan Number</th>
            <th>Heritage Status</th>
            <th>Zone</th>
            <th>Precinct</th>
            <th>Area</th>
            <th>Overlays</th>
        </tr>
        </thead>
        <tbody class="table-light">
        {% for site in sites %}
        <tr>
            <td>{{ site.address }}</td>
            <td>{{ site.local_authority.name }}</td>
            <td>{{ site.wind_class.class_ }}</td>
            <td>{{ site.soil_class.class_ }}</td>
            <td>{{ site.lot_number }}</td>
            <td>{{ site.plan_number }}</td>
            <td>{{ site.heritage_status }}</td>
            <td>{{ site.zone }}</td>
            <td>{{ site.precinct }}</td>
            <td>{{ site.area }}</td>
            <td>{{ site.overlays|join(', ') }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% include "components/loading_spinner.html" %}

{% endblock %}
{% block table_scripts %}
<script>
    $(document).ready(function () {
        let sitesTable = $('#data').DataTable({
            processing: false,
            serverSide: false,
            autoWidth: true,
            ajax: {
                url: "http://localhost:8080/sites",
                type: "GET",
                dataSrc: ""
            },
            pageLength: 10,
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
            columns: [
                {data: "address"},
                {data: "local_authority"},
                {data: "wind_class"},
                {data: "soil_class"},
                {data: "lot_number"},
                {data: "plan_number"},
                {data: "heritage_status"},
                {data: "zone"},
                {data: "precinct"},
                {data: "area"},
                {
                    data: "overlays"
                }
            ],
            initComplete: function () {
                $('#loading-spinner').hide();
                $('#data').removeClass('datatable-hidden');
            }
        });
    });
</script>
{% endblock %}
